<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="less/principal.less">
  <script type="module" src="/menu.js"></script>
  <title>Acerca de Nosotros</title>
</head>

<body>
  {{>header}}

  <main>
       <!-- ====== aca va ir el hbs "acercaNosotros.hbs"========== -->
  </main>

  {{>footer}}
</body>

</html>