<footer>
    <div class="footer-contenido">
        <div class="footer-col">
            <h3>Área de Servicio</h3>
            <p>
                Fords, Bridgewater, Englewood Cliffs, Fort Lee, Livingston, Union, Mendham, Flemington, Somerset,
                Linden, Clark, Avenel, Edison, Cranford, and the surrounding towns in Central and Northern New Jersey
            </p>
        </div>

        <div class="footer-col">
            <h3>Horas</h3>
            <ul>
                <li>Lun–Vie: 8am – 5pm</li>
                <li>Sabado: 9am – 5pm</li>
                <li>Domingo: Cerrado</li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contactanos</h3>
            <ul>
                <li>201-951-3723</li>
                <li>973-288-4024</li>
                <li>973-337-7454</li>
            </ul>
        </div>
    </div>

    <div class="footer-copy">
        <p>&copy; Todos los derechos reservados.</p>
    </div>
</footer>