<header>
    <nav class="navegacion">
        <div class="encabezado">
            <a href="index.html" class="logo-link">
                <img src="/images/logo_ace.png" alt="Logo" title="Ir a Inicio">
                <h1 title="Ir a Inicio">ACE <br>Home Improvement</h1>
            </a>
            <button class="menu-toggle">☰</button>
        </div>

        <ul class="menu">
            <li {{#if menu_1}}class="selected" {{/if}}><a href="servicios.html">Servicios</a></li>
            <li {{#if menu_2}}class="selected" {{/if}}><a href="proyectosDestacados.html">Proyectos Destacados</a></li>
            <li {{#if menu_3}}class="selected" {{/if}}><a href="cotizaciones.html">Cotizaciones</a></li>
            <li {{#if menu_4}}class="selected" {{/if}}><a href="galeria.html">Galería</a></li>
            <li {{#if menu_5}}class="selected" {{/if}}><a href="testimonios.html">Testimonios</a></li>
            <li {{#if menu_6}}class="selected" {{/if}}><a href="mesaEmpleos.html">Mesa de Empleos</a></li>

            <!-- Menu desplegable de más -->
            <li class="dropdown">
                <button class="dropdown-toggle">Información ▾</button>
                <ul class="submenu">
                    <li {{#if menu_7}}class="selected" {{/if}}><a href="acercaNosotros.html">Acerca de Nosotros</a></li>
                    <li {{#if menu_8}}class="selected" {{/if}}><a href="preguntasFrecuentes.html">Preguntas Frecuentes</a></li>
                    <li {{#if menu_9}}class="selected" {{/if}}><a href="contactenos.html">Contáctenos</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>