<main class="career-list">
    {{#each mesas}}
        {{>mesaEmpleo2
            plaza=plaza
            ciudad=ciudad
            tipoContrato=tipoContrato
            descripcionPuesto=descripcionPuesto
        }}
     {{/each}}
</main>