<section class="job-card">
    <h2>{{plaza}}</h2>
    <p><strong>Location: </strong>{{ciudad}}</p>
    <p><strong>Type: </strong>{{tipoContrato}}</p>
    <p><strong>Descripción: </strong>{{descripcionPuesto}}</p>
    <a href="#" class="apply-btn">Aplicar ahora</a>
</section>
