<section class="faq-layout">
    <!-- cosas Lado derecho-->
    <div class="faq-info">
        <span class="faq-subtitulo">Informacion</span>
        <h2>Preguntas Frecuentes</h2>
        <p>Aqui podras encontrar respuestas a incognitas comunes de nuestros clientes o temas que podrian interesarte.
        </p>

        <div class="faq-beneficio">
            <span class="icono"><img src="./public/images/icon_fast.png" alt="icono beneficio"/></span>
            <div>
                <strong>Soluciones rapidas</strong>
                <p>Brindamos atencion inmediata a tus necesidades.</p>
            </div>
        </div>

        <div class="faq-beneficio">
            <span class="icono"><img src="./public/images/icon_plus.png" alt="icono beneficio"/></span>
            <div>
                <strong>Precio justo</strong>
                <p>Contamos con precios competitivos.</p>
            </div>
        </div>

        <a class="faq-contacto" href="#"><strong>¿Tienes más preguntas? ¡Contáctanos! </strong></a>
    </div>

    <!-- cosas lado izquierdo -->
    <div class="contenedor-preguntas">
        <input type="text" id="buscador" placeholder="Buscar pregunta..." />
        <div id="faq-lista"></div>
    </div>
</section>