<section class="faq-layout">
    <!-- cosas Lado izquierd-->
    <div class="faq-info">
        <span class="faq-subtitulo">Información</span>
        <h2>Preguntas Frecuentes</h2>
        <p>Aqui podras encontrar respuestas a incognitas comunes de nuestros clientes o temas que podrian interesarte.
        </p>

        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_fast.png" alt="icono disponibilidad"/></span>
            <div>
                <strong>¿Disponibilidad?</strong>
                <p>Brindamos atencion inmediata a tus necesidades.</p>
            </div>
        </div>

        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_plus.png" alt="icono precios"/></span>
            <div>
                <strong>¿Cuáles son nuestros precios?</strong>
                <p>Contamos con precios competitivos adaptados a tu presupuesto.</p>
            </div>
        </div>
        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_team.png" alt="icono equipo"/></span>
            <div>
                <strong>¿Quién conforma nuestro equipo?</strong>
                <p>Nuestro equipo está conformado por profesionales con amplia experiencia en el sector.</p>
            </div>
        </div>

        <input type="text" id="buscador" placeholder="Buscar pregunta..." />
    </div>

    <!-- cosas lado derecho -->
    <div class="contenedor-preguntas">
        
        <div id="faq-lista"></div>
        <a class="faq-contacto" href="contactenos.html"><strong>¿Tienes más preguntas? ¡Contáctanos! </strong></a>
    </div>
    
</section>