<div class="testimonial-card">
    <div class="testimonial-avatar">
        <img src={{imagen}} alt={{nombre}}>
        <p>{{nombre}}</p>
    </div>
    <blockquote>
        "{{testimonio}}"
    </blockquote>
</div>
