.cotizaciones {
    background-color: @color-fondo;
    .flex-centrado();
    margin: auto;
    width: 100vw;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0.2rem;

    .mensaje-encabezado {
        h1 {
            font-size: 2rem;
            color: @color-titulo;
            padding: 2rem 0rem;
        }

        p {
            text-align: justify;
        }
    }

    .seleccion-servicios {
        max-width: 1440px;
        .flex-centrado();
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 0.5rem;

        .servicio {
            .flex-centrado();
            border: none;
            width: 80px;
            height: 40px;
            border-radius: 9px;
            background: lighten(@header-color-boton, 10%); // gris claro de fondo
            font-weight: 600;
            color: @header-color-fuente; // texto gris oscuro
            cursor: pointer;

            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
            transition:
                background-color 0.3s ease,
                transform 0.2s ease,
                box-shadow 0.3s ease,
                color 0.3s ease;

            @media (min-width: 1024px) {
                width: 120px;
                height: 60px;
                font-size: 1.2rem;
            }

            &:hover {
                background: @header-color-fondo-hover;
                color: @header-color-fuente-hover;
                transform: translateY(-3px) scale(1.05);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.6);
            }

            &.activo {
                background: linear-gradient(135deg, #032ff5, #0496f8);
                color: #000;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            }
        }

    }
}